<%- include('_header'); -%>

<html>
    <head>
        <title>API - FrankenRadio</title>
    </head>
    <body>
        <h1>FrankenRadio API</h1>
        <p>Here are the available API endpoints:</p>
        <ul>
            <li><a href="/radio/play"><code>GET /radio/play</code></a>: Returns the currently playing radio station url.</li>
            <li><a href="/radio/play"></a><code>POST /radio/play</code>: Post the radio url, name, playing state and volume.</li>
            <li><a href="/radio"></a><code>GET /radio</code>: Get list of radio stations from searcterm=RADIOSTATIONAME.</li>
            <li><a href="/radio/top"></a><code>GET /radio/top</code>: Get list of top 5 radio stations globally.</li>
            <li><a href="/radio/top/dk"></a><code>GET /radio/top/dk</code>: Get list of top 5 radio stations in Denmark.</li>
            <li><a href="/radio/battery"><code>GET /radio/battery</code></a>: Returns battery level and device mode.</li>
            <li><a href="/radio/battery"></a><code>POST /radio/battery</code>: Post battery level and device mode to server.</li>
            <li><a href="/users"><code>GET /users</code></a>: Get list of users, used for testing.</li>
        </ul>
    </body>
</html>

<%- include ('_footer'); -%>