<%- include('_header'); -%>

<html>
<head>
    <title>Home - Group 7 DTU</title>
</head>
<body>
    <h1>Welcome to the Radio Player Home</h1>
    <p>This is a simple radio player that can play audio from a URL.</p>

    <h2>Currently Playing:</h2>
    <h3 id="currentSong"></h3>

    <h2>Enter a URL to play:</h2>
    <form id="playForm">
        <input type="text" name="url" id="url" placeholder="Enter URL" required> 
        <button type="submit">Play</button> 
        <br>
        <br>
        <br>
        <label for="volume">Volume:</label>
        <input type="range" id="volume" name="volume" min="0" max="127" value="20">
        <br>
        <p>Current Volume: <span id="currentVolume"></span></p>
        <br>
        <button type="button" id="playPauseButton">Play/Pause</button>
    </form>
    <p id="message"></p>
    
</body>
</html>

<script>
    // When the page loads, restore the state from localStorage
    let isPlaying = localStorage.getItem('isPlaying') === 'true';
    let volume = localStorage.getItem('volume') || 20; // Default volume is 20 if not set in localStorage

    window.addEventListener('load', function() {
        const url = localStorage.getItem('url');
        const volume = localStorage.getItem('volume');
        const name = localStorage.getItem('name');

        if (url) {
            document.getElementById('url').value = url;
        }
        if (isPlaying) {
            document.getElementById('playPauseButton').textContent = 'Pause';
        } else {
        document.getElementById('playPauseButton').textContent = 'Play';
        }
        if (volume) {
            document.getElementById('volume').value = volume;
            document.getElementById('currentVolume').textContent = volume;
        }
        if (name) {
            document.getElementById('name').value = name;
        }
    });
    document.getElementById('playForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the form from being submitted normally

        const url = document.getElementById('url').value;
        localStorage.setItem('url', url);
        // Set isPlaying to true
        isPlaying = true;
        localStorage.setItem('isPlaying', isPlaying);
        document.getElementById('playPauseButton').textContent = 'Pause';

        // Send a POST request to /radio/play
        fetch('/radio/play', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `url=${encodeURIComponent(url)}&isPlaying=${encodeURIComponent(isPlaying)}`,
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('message').textContent = 'URL has been submitted.';


            // Fetch the currently playing Radio
            fetch('/radio/play')
                .then(response => response.json())
                .then(data => {
                    const currentVolume = document.getElementById('currentVolume');
                    const currentSongElement = document.getElementById('currentSong');
                    if (data[0].url) {
                        currentSongElement.textContent = data[0].name;
                        localStorage.setItem('name', data[0].name);
                        currentSongElement.previousElementSibling.style.display = 'block'; // Show "Currently Playing:"
                    } else {
                        currentSongElement.previousElementSibling.style.display = 'none'; // Hide "Currently Playing:"
                    }
                    if (data[0].deviceVolume) {
                        currentVolume.textContent = data[0].deviceVolume;
                        localStorage.setItem('volume', data[0].deviceVolume);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('currentSong').textContent = 'Error fetching current song.';
                });
        })
        .catch(error => {
            console.error('Error:', error);
            isPlaying = false;
            localStorage.setItem('isPlaying', isPlaying);
            document.getElementById('playPauseButton').textContent = 'Play';
            document.getElementById('message').textContent = 'An error occurred while submitting the URL.';
            // Clear the name of the previous radio station
            document.getElementById('currentSong').textContent = '';
        });
    });


    // Fetch the currently playing Radio
    fetch('/radio/play')
        .then(response => response.json())
        .then(data => {
            const currentSongElement = document.getElementById('currentSong');
            if (data[0].url) {
                currentSongElement.textContent = data[0].name;
                localStorage.setItem('name', data[0].name);
                currentSongElement.previousElementSibling.style.display = 'block'; // Show "Currently Playing:"
            } else {
                currentSongElement.previousElementSibling.style.display = 'none'; // Hide "Currently Playing:"
            }
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById('currentSong').textContent = 'Error fetching current song.';
        });

    // Adjust the volume
    document.getElementById('volume').addEventListener('change', function() {
        const volume = this.value;
        localStorage.setItem('volume', volume);
        console.log(volume);
        // Send a POST request to /radio/volume
        fetch('/radio/play', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `volume=${encodeURIComponent(volume)}`,
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById('message').textContent = 'An error occurred while changing the volume.';
        });
    });

    // Play/Pause button
    document.getElementById('playPauseButton').addEventListener('click', function() {
        // Toggle play state
        isPlaying = !isPlaying;
        localStorage.setItem('isPlaying', isPlaying);

        // Send a POST request to /radio/play
        fetch('/radio/play', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `isPlaying=${encodeURIComponent(isPlaying)}`,
        })
        .then(response => response.json())
        .then(data => {
            // Update the button text based on the new play/pause state
            document.getElementById('playPauseButton').textContent = isPlaying ? 'Pause' : 'Play';
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById('message').textContent = 'An error occurred while toggling play/pause.';
        });
    });
</script>

<%- include ('_footer'); -%>