<%- include('_header'); -%>

<html>
    <head>
        <title>RadioAPICaller</title>
    </head>
    <body>
        <h1>Node.js and Express REST API</h1>
        <p>Welcome to my simple website built with Node.js and Express!</p>
        <h2>Available APIs:</h2>
        <ul>
            <li><a href="/users">/users</a></li>
            <li><a href="/radio?searchterm=rock">/radio?searchterm=rock</a></li>
            <li><a href="/radio/top">/radio/top</a></li>
            <li><a href="/radio/play">/radio/play</a></li>
            <!-- Add more API endpoints here -->
        </ul>
    </body>
</html>

<%- include ('_footer'); -%>