<%- include('_header'); -%>

<html>
    <head>
        <title>Soundwich</title>
    </head>
    <body>
        <h1>Welcome to Soundwich</h1>
        <p>Welcome to Soundwich, a simple internet/bluetooth radio unit that can be controlled through this website!</p>
        <h2>Explore:</h2>
        <ul>
            <li><a href="/home">Home</a>: Control your Soundwich from this page.</li>
            <li><a href="/about">About</a>: Learn more about Soundwich and how it works.</li>
            <li><a href="/api">API</a>: Access the Soundwich API.</li>
        </ul>
    </body>
</html>

<%- include ('_footer'); -%>